@import 'tailwindcss';

@config '../tailwind.config.js';


.font-poppins {
    font-family: var(--font-poppins), sans-serif;
}


.font-roboto {
    font-family: var(--font-roboto), sans-serif;
}


.font-inter {
    font-family: var(--font-inter), sans-serif;
}


@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.animate-fade-up {
    animation: fadeUp 0.3s ease-out;
}